<div *ngIf="active" class="absolute top-0 left-0 w-screen bg-white">
    <div class="h-screen flex items-center justify-center">
        <div [ngClass]="!error ? 'border-green-500' : 'border-red-500'" *ngIf="active" class="transition-all ease-in flex justify-center items-center border">
            <i [ngClass]="!error ? 'text-green-500' : 'text-red-500'" class="las la-check text-6xl m-2"></i>
            <div [ngClass]="!error ? 'text-green-500' : 'text-red-500'">{{message}}</div>
        </div>    
    </div>
</div>


